build/
build-quest/
dist/
out/
extern/
shared/
QPM_Temp/
qpm_defines.cmake
extern.cmake
ndkpath.txt
compile_commands.json
*.qmod
*.so
*.so.debug
*.backup
.idea/
.vscode/
.DS_Store
oauth_client.json
.env
